.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.heart-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart-increment {
  outline: 0;
  border: 0;
  font-size: 1rem;
  margin-top: 2rem;
  background: linear-gradient(to right, #fc819d, #fa5e8a);
  padding: 10px 20px;
  font-family: inherit;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.heart-increment:hover {
  transform: translateY(2px);
}

.heart-increment:active {
  transform: translateY(4px);
}

.lots-of-love {
  border: 2px dashed #fa5e8a;
  padding: 3rem;
}
